head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name="Keywords" content="")
    meta(name="Description" content="")
    title HTML5 website starter
    link(rel="Shortcut Icon" href="../img/favicon.png")
    link(href='https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css', rel='stylesheet')
    link(rel='Stylesheet', href='../css/base.css')
    //- script.
      //- var _hmt = _hmt || [];
      //- (function() {
      //- var hm = document.createElement("script");
      //- hm.src = "https://hm.baidu.com/hm.js?1aca1dee0c3663089705308351e96d2c";
      //- var s = document.getElementsByTagName("script")[0];
      //- s.parentNode.insertBefore(hm, s);
      //- })();
