doctype
html(lang='zh-CN', xml:lang='zh-CN')
  include components/head
  link(rel="stylesheet", href="css/index.css")
  body
    #app
      include components/header
      h1 Hello World
      include components/footer
  script(src="libs/vue.min.js")
  script(src="libs/jquery.min.js")
  script(src="js/index.js")
